body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
}

#geoCheck {
    font-family: Verdana, sans-serif;
    background-color: #ff0000;
    width: 500px;
    margin: 310px;
    display: inline-block;
}

#demo {
    font-family: Verdana, sans-serif;
    color: #000000;
    display: inline-block;
    margin-left: 85px;
    margin-right: 
}

#button {
   background-color: rgba(0,0,0,1);
   width: 50px;
   display: inline-block;
   overflow: auto;
   -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
           transition: all 0.2s ease-in-out;
   text-indent: -1px;
   text-align: center;
   color: rgba(255,255,255,1);
   text-shadow: 0px 0px 0px rgba(0,0,0,1);
   border: none;
}
#button:hover {
   background-color: rgba(255,234,0,1);
   color: rgba(0,0,0,1);
   border: none;
}
#button:active {
   color: rgba(255,0,0,1);
   border: none;
}

#mapholder {
    display: inline-block;
}